<!DOCTYPE HTML>
<html>
    <head>
        <title>D-Phys Automated Software Installation</title>
        <link rel="stylesheet" href="../lib/style.css">
        <script type="text/javascript" src="../lib/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="../lib/jquery.tablesorter.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#sortedTable").tablesorter();
            });
        </script>
    </head>
    <body>
        <h2>Catalog</h2>
        <table id="sortedTable" class="tablesorter">
            <thead>
                <tr>
                    <th>id</th><th>name</th><th>description</th><th>version</th>
                </tr>
            </thead>
          <% FOREACH app IN catalog.keys.sort %>
            <tr>
                <td><% catalog.$app.id %></td>
                <td><% catalog.$app.name %></td>
                <td><% catalog.$app.description %></td>
                <td class="center"><% catalog.$app.version %></td>
            </tr>
          <% END %>
        </table>
    </body>
</html>
