<!DOCTYPE HTML>
<html>
    <head>
        <title>D-Phys Automated Software Installation</title>
        <link rel="stylesheet" href="../lib/style.css">
        <script type="text/javascript" src="../lib/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="../lib/jquery.tablesorter.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#sortedTable").tablesorter();
            });
        </script>
    </head>
    <body>
        <h2>Host <% host.name %></h2>
        Catalogs:
          <% FOREACH element IN host.catalogs %>
            <% element %>
          <% END %>
        </br>
        Included Manifests:
          <% FOREACH element IN host.included_manifests %>
            <% element %>
          <% END %>
        </br></br>
        <table id="sortedTable" class="tablesorter">
            <thead>
                <tr>
                    <th>Managed Installs</th>
                </tr>
            </thead>
          <% FOREACH app IN host.managed_installs.sort %>
            <tr>
                <td><% app %></td>
            </tr>
          <% END %>
        </table>
    </body>
</html>
