<!DOCTYPE HTML>
<html>
    <head>
        <title>D-Phys Automated Software Installation</title>
        <link rel="stylesheet" href="../lib/style.css">
        <script type="text/javascript" src="../lib/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="../lib/jquery.tablesorter.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#sortedTable").tablesorter();
            });
        </script>
    </head>
    <body>
        <h2>Host <% host.name %></h2>
        Catalogs:
          <% FOREACH element IN host.catalogs %>
            <% element %>
          <% END %>
        </br>
        Included Manifests:
          <% FOREACH element IN host.included_manifests %>
            <% element %>
          <% END %>
        </br>
        Managed Installs:
        </br>
        <table id="sortedTable" class="tablesorter">
            <thead>
                <tr>
                    <th>id</th><th>name</th><th>description</th><th>license</th><th>version</th>
                </tr>
            </thead>
          <% FOREACH app IN host.managed_installs.keys.sort %>
            <tr>
                <td><% host.managed_installs.$app.id %></td>
                <td><a href="<% host.managed_installs.$app.producturl %>"><% host.managed_installs.$app.name %></a></td>
                <td><% host.managed_installs.$app.description %></td>
                <td><% host.managed_installs.$app.license %></td>
                <td class="center"><% host.managed_installs.$app.version %></td>
            </tr>
          <% END %>
        </table>
    </body>
</html>
