<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>D-PHYS Munki Repo</title>
        <link rel="icon" type="image/png" href="img/munki_favicon.png" />
        <link rel="stylesheet" href="/styles/munki.css">
        <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript">
            $(window).load(function() {
                $.ajax({
                    url: <% ajaxurl %>,
                    success: function(table) {
                        $('#dynamic_content').html(table);
                    },
                    error: function() {
                        $('.loading').html('An error occured while loading the page.');
                    }
                });
            });
        </script>
    </head>
    <body>
        <!-- Header -->
        <div class="title">D-PHYS Munki Repository</div>
        <div class="center">
            <a href="http://wiki.phys.ethz.ch/readme/munki" target="_blank">
                <img src="/img/munki_logo.png" width=280 class="logo" alt="Munki Logo">
            </a>
        </div>

        <!-- Body -->
        <div id="dynamic_content">
            <div class="loading">
                <img src="/img/spinner.gif" width=25 alt="Loading animation">
                <% loadingmsg %>
            </div>
        </div>

        <!-- Footer -->
        <div class="footer">
            Contact: <a href="mailto:isg\@phys.ethz.ch">ISG D-PHYS</a>
        </div>
    </body>
</html>
